body{
    overflow: hidden;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #2c2d48;
    transition: bakground-color 1.5s, color 1s ;
}

:root{
    --color: #dcdcdc;
    --background-color: #222831;

}

.container{
    width: 70%;
    margin: 0 auto;
    border: 3px solid var(--background-color);
    border-radius: 15px;
    padding: 5px 20px;
    margin-bottom: 5px;

}

h1{
    font-weight: 600;
    font-size: 2.5rem;
}

p{
    max-width: 720px;
    font-size: 22px;
    line-height: 1.6rem;
    text-align: center;
}

button{
    padding: 6px 20px;
}

.darkmode{
    color: var(--color);
    background-color: var(--background-color);
}

i{
    font-size: 2rem;
    color: chartreuse;
    cursor: pointer;
}